<app-header></app-header>

<div class="solutions">
  <div>
    <a href="https://eugenkiss.github.io/7guis/tasks/#counter"
       target="_blank">Counter</a>
    <div class="my-9 flex">
      <div>
        <h3>Pure Angular</h3>
        <app-counter></app-counter>
      </div>
      <div class="ml-20">
        <h3>HTMX</h3>
        <app-counter-htmx></app-counter-htmx>
      </div>
    </div>
  </div>

  <hr>

  <div>
    <a href="https://eugenkiss.github.io/7guis/tasks/#temp"
       target="_blank">Temperature Converter</a>
    <div class="my-9">
      <h3>Pure Angular</h3>
      <app-temperature-converter></app-temperature-converter>
      <h3 class="mt-6">HTMX</h3>
      <app-temperature-converter-htmx></app-temperature-converter-htmx>
    </div>
  </div>

  <hr>

  <div>
    <a href="https://eugenkiss.github.io/7guis/tasks/#flight"
       target="_blank">Flight Booker</a>
    <div class="my-9 flex">
      <div>
        <h3>Pure Angular</h3>
        <app-flight-booker></app-flight-booker>
      </div>
      <div class="ml-20">
        <h3>HTMX</h3>
        <app-flight-booker-htmx></app-flight-booker-htmx>
      </div>
    </div>
  </div>

  <hr>

  <div>
    <a href="https://eugenkiss.github.io/7guis/tasks/#timer"
       target="_blank">Timer</a>
    <div class="my-9 flex">
      <div>
        <h3>Pure Angular</h3>
        <app-timer></app-timer>
      </div>
      <div class="ml-20">
        <h3>HTMX</h3>
        <app-timer-htmx></app-timer-htmx>
      </div>
    </div>
  </div>
</div>

<app-info></app-info>
