<div class="flex max-w-xs flex-col" id="div-flight-booker">

    <!--suppress HtmlFormInputWithoutLabel -->
    <select
            class="p-2"
            hx-post="http://localhost:8083/flight-booker-update"
            hx-target="#div-flight-booker"
            hx-trigger="click"
            id="select-flight-booker-type"
            name="type">
        <option value="one-way" th:selected="${oneWay}">
            one-way flight
        </option>
        <option value="return" th:selected="${!oneWay}">
            return flight
        </option>
    </select>

    <!--suppress HtmlFormInputWithoutLabel -->
    <input
            class="mb-2 border p-1 disabled:cursor-not-allowed disabled:bg-gray-300 disabled:text-gray-400"
            hx-post="http://localhost:8083/flight-booker-update"
            hx-target="#div-flight-booker"
            hx-trigger="input"
            id="input-flight-booker-from"
            name="from"
            placeholder="27.03.2014"
            th:classappend="${fromValid} ? null : 'bg-red-400'"
            th:value="${from}"
            type="text">

    <!--suppress HtmlFormInputWithoutLabel -->
    <input
            class="mb-2 border p-1 disabled:cursor-not-allowed disabled:bg-gray-300 disabled:text-gray-400"
            hx-post="http://localhost:8083/flight-booker-update"
            hx-target="#div-flight-booker"
            hx-trigger="input"
            id="input-flight-booker-to"
            name="to"
            placeholder="27.03.2014"
            th:classappend="${toValid} ? null : 'bg-red-400'"
            th:disabled="${toDisabled}"
            th:value="${to}"
            type="text">

    <button
            class="rounded-lg border bg-gray-100 px-3 py-2 text-black disabled:cursor-not-allowed disabled:bg-gray-300 disabled:text-gray-400"
            hx-post="http://localhost:8083/flight-booker-book"
            hx-swap="afterend"
            hx-trigger="click"
            th:disabled="${bookDisabled}">
        Book
    </button>
</div>