<!--suppress XmlUnboundNsPrefix -->

<form class="w-full flex items-center">
    <!--suppress HtmlFormInputWithoutLabel -->
    <input
            class="w-20 border p-1"
            hx-swap="outerHTML"
            hx-target="#input-fahrenheit"
            hx-trigger="input"
            id="input-celsius"
            name="celsius"
            th:hx-post="${urlCelsius}"
            type="number"
            value="5">
    <span class="mx-3">Celsius = </span>

    <!--suppress HtmlFormInputWithoutLabel -->
    <input
            class="w-20 border p-1"
            hx-swap="outerHTML"
            hx-target="#input-celsius"
            hx-trigger="input"
            id="input-fahrenheit"
            name="fahrenheit"
            th:hx-post="${urlFahrenheit}"
            type="number"
            value="41">
    <span class="ml-3">Fahrenheit</span>
</form>
