<!--suppress XmlUnboundNsPrefix -->
<form
        hx-include="[name='durationMs']"
        hx-trigger="load"
        id="form-timer"
        th:hx-post="${url}">
</form>

<div class="flex">
    <span style="min-width: 120px">Duration:</span>

    <!--suppress HtmlFormInputWithoutLabel -->
    <input
            hx-include="[name='elapsedMs']"
            hx-sync="#form-timer:abort"
            hx-target="#form-timer"
            hx-trigger="input"
            id="timer-duration"
            min="0"
            name="durationMs"
            style="width: 200px; align-self: start"
            th:hx-post="${urlDuration}"
            th:max="${maxTimeMs}"
            th:value="${durationMs}"
            type="range"/>
</div>

<!-- place button outside the form since the click event listener will collide with the every ms calls -->
<button
        class="rounded-lg border bg-gray-100 px-3 py-2 w-full mt-2"
        hx-include="[name='maxTimeMs'],[name='durationMs']"
        hx-target="#form-timer"
        hx-trigger="click"
        id="btn-timer-reset"
        style="width: 321px"
        th:hx-post="${urlReset}">
    Reset
</button>