<!--suppress XmlUnboundNsPrefix -->

<input
        id="timer-input-max-time-ms"
        name="maxTimeMs"
        th:value="${maxTimeMs}"
        type="hidden">
<input
        id="timer-input-elapsed-ms"
        name="elapsedMs"
        th:value="${elapsedMs}"
        type="hidden">
<input
        id="timer-input-last-time-ms"
        name="lastTimeMs"
        th:value="${lastTimeMs}"
        type="hidden">

<div th:if="${updateTimer}">
    <!--suppress HtmlFormInputWithoutLabel -->
    <input
            hx-include="[name='durationMs']"
            hx-target="#form-timer"
            hx-trigger="every 100ms"
            id="input-timer"
            th:hx-post="${url}"
            type="hidden">
</div>

<div class="flex">
    <span class="pr-2" style="min-width: 120px">Elapsed Time:</span>
    <progress
            th:max="${maxTimeMs}"
            th:value="${progressValueMs}"
            class="w-full rounded-xl" style="height: 16px; align-self: center; width: 200px"></progress>
</div>

<p class="py-2" th:text="${elapsedFormatted}"></p>