<!--suppress XmlUnboundNsPrefix -->

<div id="input-timer-updater">
    <input
            hx-include="[name='durationMs']"
            hx-post="http://localhost:8083/timer"
            hx-target="#form-timer"
            hx-trigger="every 100ms"
            th:if="${updateTimer}"
            type="hidden">
</div>

<input
        name="maxTimeMs"
        id="timer-input-max-time-ms"
        th:value="${maxTimeMs}"
        type="hidden">
<input
        name="tick"
        id="timer-input-tick"
        th:value="${tick}"
        type="hidden">

<div class="flex">
    <span class="pr-2" style="min-width: 120px">Elapsed Time:</span>
    <progress
            class="w-full rounded-xl"
            style="height: 16px; align-self: center; width: 200px"
            th:max="${maxTimeMs}"
            th:value="${progressValueMs}"></progress>
</div>

<p class="py-2" th:text="${elapsedFormatted}"></p>

<p th:text="${updateTimer}"></p>